DB_HOST=
DB_PORT=3306
DB_NAME=speedmis_v7
DB_USER=
DB_PASS=
DB_CHARSET=utf8mb4

APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost
APP_PWD_KEY=your_secret_key_here

SITE_ID=speedmis
REAL_PID_HOME=speedmis000001
SITE_TITLE="SpeedMIS v7"

DEFAULT_PAGE_SIZE=25
AUTO_LOGOUT_MINUTE=30
LOGIN_FAIL_LEVEL=1

TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_NAME=
